



/*---------------------------------------------------------*/

@font-face{
    font-family: 'Lobster-Regular'; /*nombre del archivo sin extension*/

    src: local('Lobster-Regular'),
    url('/fonts/awesome.woff2') format('woff2'),
    url('/fonts/awesome.woff') format('woff'),
    url('/fonts/Lobster-Regular') format('truetype'),
    url('/fonts/awesome.eot') format('embedded-opentype');



}



*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;


}

*{
    margin: 0; padding: 0;

}




body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;





}



/*contenedores menu*/
/*-------------------------------------------*/



h1 {

    font-size: 30px;
    text-align: center;
}

div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


img{

    margin-top: 
    margin-left: 40%;
    height: 10px;
}

.oculto{
    display: none;

}

.imagenzombies{
    height: 1000px;

    display: none;
}




