



/*---------------------------------------------------------*/

@font-face{
    font-family: 'Lobster-Regular'; /*nombre del archivo sin extension*/

    src: local('Lobster-Regular'),
    url('/fonts/awesome.woff2') format('woff2'),
    url('/fonts/awesome.woff') format('woff'),
    url('/fonts/Lobster-Regular') format('truetype'),
    url('/fonts/awesome.eot') format('embedded-opentype');



}



*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;


}

*{
    margin: 0; padding: 0;

}




body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;





}



/*contenedores menu*/
/*-------------------------------------------*/




#contenedorlargo{
    width: 100%;
    height: 75px;
    /*background-color: red;*/

    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 


}



#contenedorcorto{
    height: 75px;
    /*min-width: 700px;*/
    /*border: 1px red solid;*/
    max-width: 1920px;
    margin: auto;
    /*background-color: #12FE00;*/


    display: flex;
    justify-content: center;

    
    


    



}




/*menu navegacion*/
/*------------------------------------------------------*/




-------------------------------------------


.menu-btn-label{

    display: none;


}


.menu_navigation{

    display: flex;
    justify-content: center;
    


}





.logoabogado img{
    height: 75px;

}


/*--------------------------icono del menu css--------------------------*/


/*ocultar checkbox*/
#btn-menu-checkbox{
    display: block;
}

/*al pasar el raton por encima*/







/*icono del menu echo con css*/
.menu-btn-label span
{
    display: block;
    width: 50px;
    height: 6px;
    margin-bottom: 6px;
        /*margin-right: 10px;
        /*position: relative;*/

        background-color: #b42130;
        border-radius: 3px;

        /*z-index: 1;*/


    }









    /*--------------------------denuevohacermenu--------------------------*/


    /*centrado de logo boton y menu*/
    .menu_navigation{
        display: flex;
        align-items: center;
    }



    #btn-menu-checkbox{

        display: none;
    }

    .label-boton{

        display: none;
        /*margin-right: 100px;*/
        margin-top: 10px;

    }

    .label-boton:hover{

        cursor: pointer;
    }



    /*div del icono del menu div*/
    .menu-btn-label{

        /*background-color: yellow;*/
        /*padding: 20px;*/

        /*margin-left: 10px;*/
    }


    .principal_menu_ul{

        display: flex;
        align-items: center;





    }

    .principal_menu_ul li{

        display: flex;

        margin-left: 10px;
        /*margin-top: 1px;*/
        margin-bottom: 4px;


        /*border: 1px;*/
        /*background-color: red;*/
        padding: 12px;



    }





    .principal_menu_ul li a{

        color: black;
        font-size: 20px;
        font-family: arial, sans-serif;
        font-weight: bolder;
        text-decoration: none;

    }


    .principal_menu_ul li a:hover{

        color: #C3C3C3;
        font-size: 20px;

        text-decoration: none;
        text-decoration: underline;



    }













    /*contenedor 1*/
    /*----------------------------------------------*/





    #contenedor_uno{





        width: 100%;
        height: 600px;

        /*height: 600px;*/

        /*background-color: blue;*/
        /*max-width: 1920px;*/
        /*padding: 1px;*/
        /*margin: auto;*/

        /*border-bottom: 5px red solid;*/




    }



    .background_image{


    /*position: fixed;
    left: 0;
    right: 0;*/
    
    
    background: url("../imagenes/desk-3076954.jpg");
    width: 100%;
    height: 600px;

    filter: blur(3px);
/*  -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    */

    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size: 100% 100%;

    /*background-color: blue;*/


    z-index: 1;


}


.contend {
  position: relative;
  top: -600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 999;


  display: flex;
  flex-direction: column;

  align-items: center;

  

  /*width: %;*/
  /*height: 100%;*/

  /*background-color: red;*/


}




.textoencimaimagen{


    width: 80%;
    max-width: 1000px;
    height: 200px;

    /*background-color: red;*/

    margin: auto;
    margin-top: 50px;



    
    
    font-family: arial black;
    color: white;
    
    text-align: center;


/*  margin-left: 10px;
margin-top: 50px;*/

/*  padding: 10px 10px 10px 10px;

    border: 1px red solid;
    border-radius: 20px;

    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); */




}


.textoencimaimagen h1{
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;

    /*font-size: 1vmin;*/
    margin-bottom: 20px;

}


.textoencimaimagen p{

    font-size: 35px;

}



#consultaahora{


    width: 20vw;
    /*height: 100px;*/



    max-width: 400px;
    min-width: 200px;

    margin-top: 150px;






    background-color: #b42130d9;

    /*border: 1px red solid;*/
    /*border-radius: 200px;*/

    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    border-radius: 5px;


    text-align: center;
    line-height: 100px;
    
    
    font-weight: bolder;

}


#consultaahora:hover{

	background-color: #b42130;
}


#consultaahoralink{
	color: white;
	text-decoration: none;
}








/*contenedor dos*/
/*---------------------------------------------------------*/
#contenedor_dos{

	width: 80%;
	height: 400px;

	/*background-color: blue;*/
	margin: auto;
	max-width: 1920px;


	display: flex;
	justify-content: space-around;

	align-items: center;

    font-family: verdana;


}


.icons_first_page{

	width: 300px;
	/*height: 300px;*/
    /*background-color: red;*/

    text-align: center;
    margin: 1px;




}


.icon_css_first_page{

    width: 150px;
    height: 100px;

    
    /*background-color: blue;*/
    margin: auto;
    margin-top: 5px;

    color: #C3C3C3;
    font-size: 80px;
    text-align: center;
    
}

.icons_first_page h3 {


	margin-top: 5px;
	/*background-color: red;*/

	text-align: center;
	
	/*font-family: candara, arial;*/



}

.icons_first_page p{

    margin-top: 10px;
}


/*contenedor_dos_y_medio
---------------------------------------------------------*/

.color_fondo_contenedor_dos_y_medio{

    width: 100%;

    background-color: #212529;
}



.contenedor_dos_y_medio{
    width: 80%;
    height: 700px;

    background-color: #212529;
    /*background-color: blue;*/
    max-width: 1920px;
    padding: 1px;
    margin: auto;

    font-family: inherit;


    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

}







/*contenedor 3*/
/*---------------------------------------------------------*/

#contenedor_tres{
    width: 100%;
    /*height: 300px;*/

    /*margin-top: 100px;*/

    
    

    background-color: #212529;
    /*background-color: yellow;*/
    /*margin: auto;*/
    


    display: flex;
    

    justify-content: center;
    align-items: center;





}






.imagen_partida{

    width: 35%;
    max-width: 300px;
    /*eight: 400px;*/

    /*background-color: blue;*/



}





.textoencimaimagen_3{

    width: 60%;


    /*background-color: red;*/

    text-align: center;





}

.textoencimaimagen_3 h3{

   color: white;
   font-size: 40px;

   font-family: arial black;
}


.separacion{


    width: 100%;
    height: 100px;

    /*background-color: red;*/
    background-color: #212529
}

/*.contend_3 h3{

    color: #C3C3C3;
    font-size: 30
    }*/



    /*container_4*/
    /*---------------------------------------------------------*/


    #slider {
        overflow: hidden;
    }
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
    }
    #slider figure img {
        width: 20%;
        float: left;
    }


    .img_size{
        height: 600px;

    }

    @keyframes slider {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        25% {
            left: -100%;
        }
        45% {
            left: -100%;
        }
        50% {
            left: -200%;
        }
        70% {
            left: -200%;
        }
        75% {
            left: -300%;
        }
        95% {
            left: -300%;
        }
        100% {
            left: -400%;
        }
    }




    /*-----------------------------------------------------------------------------*/

    /*pagina consultas*/

    /*-----------------------------------------------------------------------------*/


    .title_consult{

        text-align: center;
        font-size: 50px;
        margin-top: 30px;
        color: black;



    }

    .contenedor_consultas{
        width: 80%;
        /*height: 800px;*/



        /*background-color: #212529;*/
        /*background-color: blue;*/
        max-width: 1920px;
        padding: 1px;
        margin: auto;

        margin-top: 70px;

        font-family: inherit;


        display: flex;
        justify-content: center;
        align-items: center;

    }





/*.contenedor_centrar_consultas{

    
	width: 
    margin: auto;

    }*/


    

/*.contenedor_para_centrar{
	
    width: 80%;
    margin:auto;

    }*/


    #consulta_div_1{

        width: 30%;
        /*height: 500px;*/
        margin-right: 15px;



        background-color: white;

        /*margin-top: 10%;*/

        border-radius: 5px;

        color: #173d50;

        box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 

    }










    .primer_divinterior_consulta{

      width: 100%;
      /*height: 100px;*/
      /*background-color: yellow;*/

      /*text-align: center;*/

      /*font-family: open sans, sans-serif;*/

      margin-top: 30px;

      


  }


  .primer_divinterior_consulta_central{
    width: 100%;

    margin-top: 30px;


    

}



.titulo_consulta{




    text-transform: uppercase;

    
    
    font-size: 18px;
    font-weight: 700;

    letter-spacing: 2px;

    text-align: center;




    
}


.titulo_consulta_central{

    text-transform: uppercase;

    
    
    font-size: 18px;
    font-weight: 700;

    letter-spacing: 2px;

    text-align: center;
    color: #b42130;


}







.div_precio{

    /*display: flex;*/
    /*width: 85px;*/

    /*text-align: center;*/


    
    /*background-color: red;*/
    
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    text-align: center;
    

    
    


}

.precio{

 font-size: 70px;



 font-weight: 100;
 margin-bottom: 15px;

 font-family: open sans;
 font-weight: normal;

 display: inline-block;


}

.precio_central{

    font-size: 70px;



    font-weight: 100;
    margin-bottom: 15px;

    font-family: open sans;
    font-weight: normal;

    display: inline-block;
    color: #b42130;    
}




.simbolo_euro{



 font-size: 25px;

 /*margin-left: 10px;*/
 font-weight: bolder;
 color: rgba(23,61,80,.4);


 display: inline-block;
 text-align: left;


}  








.caracteristicas_consulta_1{

 width: 100%;
 padding: 1em;
 background-color: pink;

 text-align: center;
 /*border-top: 2px  solid black;*/

 background-color: rgba(23,61,80,.06);
 font-family: open sans;


}



.caracteristicas_consulta_2{

 width: 100%;
 padding: 1em;
 background-color: white;

 text-align: center;
 /*border-top: 2px  solid black;*/

 background-color: white;
 font-family: open sans;



}


.caracteristicas_consulta_3{

 width: 100%;
 padding: 1em;
 background-color: pink;

 text-align: center;
 /*border-top: 2px  solid black;*/
 /*border-bottom: 2px  solid black;*/


 background-color: rgba(23,61,80,.06);
 font-family: open sans;
}


.caracteristicas_consulta_4{

 width: 100%;
 padding: 1em;
 background-color: pink;

 text-align: center;
 /*border-top: 2px  solid black;*/

 background-color: white;
 font-family: open sans;


}

.sombreado_azul{

    font-weight: bolder;
    font-size: 18px;


}




.botonConsulta{
    width: 100%;
    padding: 2em 0;
    background-color: #0c1f28;

    text-align: center;

    border-radius: 0 0 5px 5px;

    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: white;
    /*font-weight: bolder;*/


}


.botonConsulta_central{
    width: 100%;
    padding: 2em 0;
    background-color: #b42130;

    text-align: center;

    border-radius: 0 0 5px 5px;

    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: white;
    /*font-weight: bolder;*/

}


.botonConsulta:hover{
    background-color: #0c1f28CC
}


.botonConsulta_central:hover{

    background-color: #b42130CC;    
}



.enlace_boton{

    text-decoration: none;
}




.separator_white{

    width: 100%;
    height: 600px;
    background-color: white;
}



/*form contac page
---------------------------------------------------------*/


/*off*/
.title_form_contact{



    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    color: black;



}












.contac_form{
    width: 60%;
    max-width: 1000px;
    height: 500px;


    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;

    /*background-color: red;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 

    /*font-family: cursive;*/






}

.title_form{

    font-size: 30px;
    padding: 5px;
    margin-top: 10px;




}

.container_form{

    width: 90%;
    /*background-color: yellow;*/

    display: flex;
    flex-direction: column;
    justify-content: center;



}





.form_bar{


    width: 100%;
    height: 40px;
    
    margin-top: 5px;
    /*min-width: 600px;*/
    /*border-radius: 5px;*/

    /*background-color: #C9C9C9;*/

    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding-left: 5px;
}

.form_bar_query{


    width: 100%;
    height: 150px;
    
    margin-top: 10px;
    /*min-width: 600px;*/
    /*border-radius: 5px;*/

    /*background-color: #C9C9C9;*/
    
    border: 1px solid #DDDDDD;
    border-radius: 5px;

    padding-left: 5px;


}


.link_button_form{

    text-decoration: none;

}

.button_form{

    margin-top: 20px;
    width: 150px;
    min-width: 120px;
    padding: 15px;
    /*background-color: blue;*/
    background-color: #0c1f28;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    text-decoration: none;

    font-size: 25px;
    font-weight: bolder;




    

    

    border-radius: 5px;

    text-transform: uppercase;
    /*font-size: 1.3rem;*/
    letter-spacing: 2px;
    color: white;
    /*font-weight: bolder;*/

}


.button_form:hover{

    background-color: #0c1f28CC;
}




/*contact developer page
---------------------------------------------------------*/

.contact_developer{

    width: 60%;
    max-width: 550px;

    height: 300px;

    /*background-color: red;*/

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    

    display: flex;

    justify-content: center;
    align-items: center;

    /*box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); */

}


/*.icon_awesome_email{

    width: 150px;
    height: 100px;

    

    margin: auto;

    color: #C3C3C3;
    font-size: 80px;
    text-align: center;


    }*/


    .email_contact{

        font-size: 50px;

        color: #C3C3C3;
        display: inline;


    }

/*---------------------------------------------
pagina sobre mi*/


.contenedorsobremi{
    width: 100%;
    max-width: 1920px;
    background-color: yellow;

    margin: auto;
}

#fotosobremi{
    width: 30%;

    margin-top: 3%;
    margin-left: 1%;
    display: inline-block;
    vertical-align: top;
    background-color: blue;

}

#informacionsobremi{
    background-color: blue;
    width: 50%;


    margin-top: 3%;
    display: inline-block;
    vertical-align: top;
}



#titulo2{
    margin: auto;
    text-align: center;
    margin-top: 5%;
    font-family: fantasy;
    font-size: 40px;
    padding-bottom: 20px;

}

.subrayado{
    border-bottom: 2px solid black;
    width: 60%;
    margin: auto;
}

#videotamañosobremi{
    width: 100%;
    height: 400px;
}


#videosobremi2div{
    width: 60%;
    max-width: 800px;
    margin: auto;
    margin-top: 2.5%;


}



#contenedor_tres_pageconsult{


    margin-top: 100px;
    width: 100%;
    /*height: 300px;*/

    
    

    background-color: #212529;
    /*background-color: yellow;*/
    /*margin: auto;*/
    


    display: flex;
    

    justify-content: center;
    align-items: center;





}




/*page who am i
---------------------------------------------------------*/


/*container 1*/
/*---------------------------------------------------------*/

.background_image_who{

    /*position: fixed;
    left: 0;
    right: 0;*/
    z-index: 1;
    
    background: url("../imagenes/office.jpeg");
    width: 100%;
    height: 600px;

    filter: blur(3px);
/*  -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    */

    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size: 100% 100%;

    /*background-color: blue;*/

}


.textoencimaimagen_who{

    width: 80%;
    max-width: 1000px;
    height: 200px;

    /*background-color: red;*/

    margin: auto;
    margin-top: 150px;



    
    
    font-family: arial black;
    color: white;
    font-size: 30px;
    text-align: center;

    


}

.title_who{

    text-transform: uppercase;
    margin-bottom: 20px;


}

/*container_2_who
---------------------------------------------------------*/

.container_2_who{
    width: 80%;
    height: 400px;

    margin: auto;

    /*background-color: red;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title_continer_2_who{

    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    font-family: arial black;


}


.container_2_who p{

    margin-top: 50px;
    /*text-align: center;*/


}

.bolder{

    font-weight: bolder;

}


/*container_3_who
---------------------------------------------------------*/

.container_3_who{
    width: 100%;

    /*height: 250px;*/

    background-color: #212529;

    margin-bottom: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container_3_60percents{

    margin: auto;
    width: 60%;

}

.counters{
    width: 20%;

    max-width: 300px;
    height: 150px;
    margin-right: 40px;
    margin-top: 20px;

    /*background-color: red;*/

    text-align: center;
    margin-bottom: 30px;
}

.number{

    font-size: 70px;
    color: white;
}


.text_number{

    margin-top: 40px;
    font-size: 20px;

    font-weight: bolder;
    color: white;

}



.container_4_team{

    width: 60%;

    margin: auto;

    max-width: 1000px;
    /*background-color: blue;*/

    margin-bottom: 50px;


}

.title_continer_4_who{

    margin-top: 30px;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
    font-family: arial black;



}


.container_team_photos{

    width: 100%;
    /*background-color: yellow;*/

    display: flex;
}

.column_photos_1{
    width: 50%;
    /*background-color: pink;*/

    display: flex;
    flex-direction: column;
    align-items: center;
}

.column_photos_2{
    width: 50%;
    /*background-color: purple;*/

    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_team{

    width: 100%;;
    height: 500px;

    margin-top: 50px;
    /*background-color: red;*/

}










/*footer
---------------------------------------------------------*/
.principal_footer{

    padding: 10px;
    width: 100%;
    /*height: 400px;*/
    padding: 1px;

    background-color: #212529;

    color: white;




}


.principal_footer div a{

    text-decoration: none;




}


.contenedor_footer{

    width: 80%;
    /*height: 300px;*/
    max-width: 1980px;


    margin: auto;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.columnas_del_footer{

    /*width: 80%;*/
    
    width: 300px;
    border: 1px;
    
    
    margin-top: 10px;



    /*background-color: red;*/



    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: left;
    
}



.titulo_footer{


    font-size: 25px;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: bolder;

    /*text-align: center;*/
    
    
}

.columnas_del_footer a{

	margin-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: lighter;


}



#marca_de_agua{

    width: 70%;
    max-width: 1000px;
    /*height: 50px;*/

    /*border-top: 5px black solid;*/

    margin: auto;
    margin-top: 30px;
    padding: 30px;

    /*background-color: black;*/

    
    font-family: sans-serif;
    font-size: 20px;
    /*color: black;*/

    text-align: center;

    display: flex;
    justify-content: space-around;

    align-items: center;
}


#marca_de_agua_2{

    width: 70%;
    max-width: 1000px;
    /*height: 50px;*/



    margin: auto;

    /*padding: 40px;*/

    /*background-color: black;*/

    
    font-family: sans-serif;
    font-size: 20px;
    /*color: black;*/

    text-align: center;



    display: flex;
    justify-content: space-around;

    align-items: center;

    color: white;

    margin-bottom: 50px;
    

    
}


#marca_de_agua_2 a{

    color: white;
    text-decoration: underline;
}






/*media queries*/
/*-------------------------------------------------------*/

@media only screen and (max-width: 1500px){

    .icons_first_page{

        width: 200px;





    }


}




/*hago las media queries de mas a menos usando el max-widht*/
@media only screen and (max-width: 1366px)
{
    body
    {
        /*background-color: pink;*/
    }



    .contenedor_dos_y_medio{
        /*width: 80%;*/
        height: auto;



        /*padding: 1px;*/
        /*margin: auto;*/

        padding-bottom: 100px;


        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

    }

    .contenedor_consultas{
        /*width: 80%;*/
        height: auto;



        /*padding: 1px;*/
        /*margin: auto;*/

        padding-bottom: 100px;


        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

    }


    #consulta_div_1{

        width: 60%;
        
        /*height: 500px;*/
        /*margin-right: 15px;*/

        margin-top: 50px;



        

    }





}







@media only screen and (max-width: 1280px) 
{

    body
    {
        /*background-color: purple;*/

        


    }

    #contenedor_3{

        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        
        

    }

    .textoencimaimagen h1{

        font-size: 15px;
    }


    .textoencimaimagen p{

        font-size: 30px;

    }





    #textovideo1
    {

        width: 80%;
        height: 400px;

        margin-top: 2%;
        

    }


    #videopaginainicio_div
    {

        width: 80%;
        height: 500px;
        max-width: 1000px;


    }


    #videotamaño
    {


        width: 100%;

        height: 100%;
    }


    /*page about me*/
    /*---------------------------------------------------------*/

    
    .container_4_team{

        width: 100%;
    }


    .container_team_photos{

        width: 100%;
    }

    .container_team_photos{

        display: flex;
        flex-direction: column;

        align-items: center;


    }

    .column_photos_1{

        width: 100%;
    }

    .column_photos_2{

        width: 100%;
    }











}







@media only screen and (max-width: 980px) {

    .textoencimaimagen p{

        font-size: 25px;
        margin-top: 10px;

    }


    #contenedor_dos{

        width: 80%;
        height: auto;

        /*background-color: blue;*/
        margin: auto;
        margin-bottom: 50px;
        max-width: 1920px;


        display: flex;

        flex-direction: column;
        justify-content: space-around;

        align-items: center;

        font-family: verdana;




    }

    .icons_first_page{

        /*width: 300px;*/
        /*height: 300px;*/
        /*background-color: red;*/

        text-align: center;
        margin-top: 50px;

        /*margin-bottom: 50px;*/




    }

    

    /*page_who*/
    /*---------------------------------------------------------*/
    .title_continer_2_who{

        font-size: 30px;
    }



    /*footer*/
    /*---------------------------------------------------------*/
    .contenedor_footer{

        width: 80%;
        /*height: auto;*/



        margin: auto;
        /*background-color: yellow;*/
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;

    }


    .columnas_del_footer{

        /*width: 80%;*/

        width: 300px;
        height: auto;
        border: 1px;


        margin-top: 50px;



        /*background-color: red;*/



        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: left;

    }








}











@media only screen and (max-width: 834px) 
{
    body{

        /*background-color: yellow;*/
    }




    /*--------------------------menu responsive movil--------------------------*/


    /*aparicion del boton*/
    .label-boton{

        display: block;
    }


    
    .principal_menu_ul{

        width: 100%;

        margin-left: -2000px; /*desplazamiento para desaparecer menu*/


        position: absolute;
        top: 75px;

        background-color: white;

        flex-direction: column;

        z-index: 9999;

        /*display: none;*/

        /*border: 1px red solid;*/



    }


    .principal_menu_ul li{

        width: 100%;


        padding: 20px;

        border-top: 1px red solid;

        display: flex;
        justify-content: center;



    }

    .li-end-menu-border{

        border-bottom: 1px red solid;
    }




    



    

    .principal_menu_ul li a{


        text-align: center;



    }


    #btn-menu-checkbox:checked ~ .principal_menu_ul{

        margin-left: 0; /*desplazamiento para que aparezca*/

        /*display: block;*/
    }



    



    /*----------------------------------------------------*/
    #consulta1{
        width: 80%;
        /*height: 400px;*/
        

        
        
        margin: auto;

        display: block;
    }


    #consulta2{
        width: 80%;
        height: 400px;
        background-color: red;

        
        
        margin: auto;

        display: block;
    }


    #consulta3{
        width: 80%;
        height: 400px;
        background-color: red;

        margin-top: 2%;
        
        margin: auto;

        display: block;
    }

    

    /*page about me*/
    /*---------------------------------------------------------*/
    .second_text{
        display: none;
    }














    /*contenedor dos y medio*/
    /*---------------------------------------------------------*/


    #consulta_div_1{
        min-width: 420px;
    }



    

    /*container_3*/
    /*---------------------------------------------------------*/
    .textoencimaimagen_3 h3{

        color: white;
        font-size: 30px;

        font-family: arial black;
    }


    
    /*page about me*/
    /*---------------------------------------------------------*/

    .container_3_who{
        flex-direction: column;
    }

    .counters{

        margin-bottom: 50px;
    }




    /*contact developer*/
    /*----------------------------------------------------*/
    

    .email_contact{

        font-size: 35px;

        /*color: red;*/
    }







}








/*--------------------------maquetacion menu/boton movil--------------------------*/
@media only screen and (max-width: 650px){






    /*contenedor dos y medio*/
    /*---------------------------------------------------------*/


    #consulta_div_1{
        min-width: 300px;
    }





    /*container_3*/
    /*---------------------------------------------------------*/
    .textoencimaimagen_3 h3{


        font-size: 20px;


    }



    /*prices_page*/
    /*---------------------------------------------------------*/

    .title_consult{

        font-size: 30px;
    }



    /*page about me*/
    /*---------------------------------------------------------*/

    .title_continer_4_who{

        font-size: 30px;
    }
    


    /*contact developers*/
    /*----------------------------------------------------*/
    .email_contact{

        font-size: 18px;

        /*color: red;*/
    }









}



@media only screen and (max-width: 450px){





    /*logo*/
    /*---------------------------------------------------------*/
    .logoabogado img{
        width: 150px;

    }




    /*---------------------------------------------------------*/
    .textoencimaimagen_3 h3{

        color: white;
        font-size: 16px;

        font-family: arial black;
    }


    /*contenedor_3*/
    /*---------------------------------------------------------*/

    #consulta_div_1{

        min-width: 250px;


    }





}








